    <div class="col-xs-9">
      <h1 class="page-header"><%= @title %></h1>
      <p id="notice"><%= notice %></p>
      <% @todays_articles.each do |article| %>



  <div class="well">
      <div class="media">
        <a class="pull-left" href="/articles/<%= article['id'] %>">
        <img class="media-object" width=150 src=<%= article['thumbnail_url'] %> onerror="this.src='<%= @thumbnail_image %>';">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="/articles/<%= article['id'] %>"><%= article['title'] %></a></h4>
          <p class="text-right">By <%= article['site_name'] %></p>
          <p><%= article['body'] %></p>
          <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i> ? days, ? hours </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> 0 comments</span>
            <li>|</li>
            <li>
               <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              <span><i class="fa fa-facebook-square"></i></span>
              <span><i class="fa fa-twitter-square"></i></span>
              <span><i class="fa fa-google-plus-square"></i></span>
            </li>
      </ul>
       </div>
    </div>
  </div>




      <% end %>

      <div class="text-center">
        <ul class="pagination pagination-lg">
          <li class="disabled"><span><<</span></li>
          <% if @current_page_num.to_i - 2 >= 1 then %>
                    <li><a href="/lists?tag=<%= @search_tag %>&page=<%= @current_page_num.to_i - 2 %>"><%= @current_page_num.to_i - 2 %></a></li>
          <% end %>
          <% if @current_page_num.to_i - 1 >= 1 then %>
                    <li><a href="/lists?tag=<%= @search_tag %>&page=<%= @current_page_num.to_i - 1 %>"><%= @current_page_num.to_i - 1 %></a></li>
          <% end %>
          <li class="active"><span><%= @current_page_num %></span></li>
          <li><a href="/lists?tag=<%= @search_tag %>&page=<%= @current_page_num.to_i + 1 %>"><%= @current_page_num.to_i + 1 %></a></li>
          <li><a href="/lists?tag=<%= @search_tag %>&page=<%= @current_page_num.to_i + 2 %>"><%= @current_page_num.to_i + 2 %></a></li>
          <li class="disabled"><span>>></span></li>
        </ul>
      </div>
</div>
<div class="col-xs-3">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- catalog-right -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-0308249287821909"
       data-ad-slot="9115881548"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>


