<div class="jumbotron" style="height:300;background:url(<%= top_image %>);background-size:cover;" >
  <div class="container" style="height: 400px;">
  </div>
</div>

<ul class="nav nav-tabs">

<% tabs = top_tabs %>
<% tabs.each do |tab| %>
  <% if @search_tag == tab then %>
    <li class="active">
  <% else %>
    <li>
    <% end %>
    <a href="/articles?page=<%= @current_page_num %>&tag=<%= tab %>"><%=  tab %></a>
  </li>
<% end %>

    <div class="col-xs-9">
      <h1 class="page-header">what's new</h1>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- bigbanner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-0308249287821909"
     data-ad-slot="5718242764"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


      <p id="notice"><%= notice %></p>
      <% @todays_articles.each do |article| %>



  <div class="well">
      <div class="media">
        <a class="pull-left" href="/<%= article['id'] %>">
        <img class="media-object" width=150 src=<%= article['thumbnail_url'] %> onerror="this.src='<%= thumbnail_image %>';">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="/<%= article['id'] %>"><%= article['title'] %></a></h4>
          <p class="text-right">By <%= article['site_name'] %></p>
          <p><%= article['body'] %></p>
          <ul class="list-inline list-unstyled">
            <span><i class="glyphicon glyphicon-comment"></i> 0 comments</span>
            <li>|</li>
            <li>
               <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              <span><i class="fa fa-facebook-square"></i></span>
              <span><i class="fa fa-twitter-square"></i></span>
              <span><i class="fa fa-google-plus-square"></i></span>
            </li>
            <li>0いいね</li>
      </ul>
       </div>
    </div>
  </div>




      <% end %>

      <div class="text-center">
        <ul class="pagination pagination-lg">
          <li class="disabled"><span><<</span></li>
<% if @current_page_num.to_i - 2 >= 1 then %>
          <li><a href="/articles?page=<%= @current_page_num.to_i - 2 %>"><%= @current_page_num.to_i - 2 %></a></li>
<% end %>

<% if @current_page_num.to_i - 1 >= 1 then %>
          <li><a href="/articles?page=<%= @current_page_num.to_i - 1 %>"><%= @current_page_num.to_i - 1 %></a></li>
<% end %>
          <li class="active"><span><%= @current_page_num %></span></li>
          <li><a href="/articles?page=<%= @current_page_num.to_i + 1 %>"><%= @current_page_num.to_i + 1 %></a></li>
          <li><a href="/articles?page=<%= @current_page_num.to_i + 2 %>"><%= @current_page_num.to_i + 2 %></a></li>
          <li class="disabled"><span>>></span></li>
        </ul>
      </div>
</div>
<div class="col-xs-3">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- catalog-right -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-0308249287821909"
       data-ad-slot="9115881548"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>


