<section class="breadcrumb-wrapper">
  <ul class="breadcrumb">
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"> 
      <a href="/articles" itemprop="url">
        <span itemprop="title">トップ</span>
      </a>
    </li>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"> <span itemprop="title">詳細</span> </li>
  </ul>
</section>


<div class="col-xs-9">


<h1 class="page-header"><%= @article_title %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= @article_body %></h2>
  </div>
  <div class="panel-body">
    <p></p>
      <% @thumbnail_images.each do |thumbnail_image_url| %> 
        <img src=<%= thumbnail_image_url %> />
      <% end %>
  </div>
  <div class="panel-footer text-right"><%= @article.url %></div>
</div>

<div>
    <form action="/comments" accept-charset="UTF-8" method="post">

      <div class="col-xs-1"><img src="/assets/profile.jpeg" width="50" class="img-responsive img-circle" ></div>

      <div class="field">
        <label for="comment_comment">Comment</label>
          <input class="form-control" id="comment_comment" type="text" name="comment[comment]" />
      </div>
      <div class="field">
        <label for="comment_contributor">Contributor</label>
          <input class="form-control" id="comment_contributor" type="number" name="comment[contributor]" />
      </div>
      <input type="hidden" value=<%= @comment.article_id %> name="comment[article_id]" id="comment_article_id" />
      <input type="hidden" value=<%= @comment.article_url %> name="comment[article_url]" id="comment_article_url" />
       <br>
      <div class="actions">
        <input type="submit" class="btn btn-primary" name="commit" value="Create Comment" data-disable-with="Create Comment" />
      </div>
  </form>
</div>

<br>

<div>
<% @comments.each do |comment| %>
  <div class="col-xs-1"><img src="/assets/profile.jpeg" width="50" class="img-responsive img-circle" ></div>
  <div class="col-xs-11"><%= comment.comment %></div>
<% end %>
</div>

<%= link_to 'Edit', edit_article_path(@article) %>|
<%= link_to 'Back', articles_path %>

</div>