<section class="breadcrumb-wrapper">
  <ul class="breadcrumb">
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"> <a href="/articles" itemprop="url">
        <span itemprop="title">トップ</span>
      </a> </li>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"> <span itemprop="title">詳細</span> </li>
  </ul>
</section>
<div class="page-wrapper">
  <div class="feature-articles-index">
    <h1 class="title">
      <%= @article_title %>
    </h1>
    <div>
      <%= @article_body %>
    </div>
    <div>
      <% @thumbnail_images.each do |thumbnail_image_url| %> 
        <img src=<%= thumbnail_image_url %>/>
        <% end %>
    </div>
    <div>
      <%= @article.url %>
    </div>
    <div>
      <%= @article.contributor_name %>
    </div>
  </div>
  <div> <button type="button" class="btn btn-default">Default</button>
    <!-- Primary --><button type="button" class="btn btn-primary">Primary</button>
    <!-- Success --><button type="button" class="btn btn-success">Success</button>
    <!-- Info --><button type="button" class="btn btn-info">Info</button>
    <!-- Warning --><button type="button" class="btn btn-warning">Warning</button>
    <!-- Danger --><button type="button" class="btn btn-danger">Danger</button>
    <!-- Link --><button type="button" class="btn btn-link">Link</button> </div>

  <br><br><br>
  <div class="comment-add">
    <%= form_with(model: @comment, local: true) do |form| %>
      <div class="field">
        <%= form.label :comment %>
          <%= form.text_field :comment, id: :comment_comment %>
      </div>
      <div class="field">
        <%= form.label :contributor %>
          <%= form.number_field :contributor, id: :comment_contributor %>
      </div>
      <div class="field">
        <%= form.label :score %>
          <%= form.number_field :score, id: :comment_score %>
      </div>


      <%= hidden_field :comment, :article_id %>
       <%= hidden_field :comment, :article_url %>

      <div class="actions">
        <%= form.submit %>
      </div>
      <% end %>
  </div>

  <br><br><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Comment</th>
        <th>Contributor</th>
        <th>Score</th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.comment %></td>
          <td><%= comment.contributor %></td>
          <td><%= comment.score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>
</div>
<div class="page-wrapper">
  <div class="feature-articles-detail"> </div>
</div>
<%= link_to 'Edit', edit_article_path(@article) %>|
  <%= link_to 'Back', articles_path %>