<p id="notice"><%= notice %></p>

<p>
  <strong>Title jp:</strong>
  <%= @article.title_jp %>
</p>

<p>
  <strong>Title en:</strong>
  <%= @article.title_en %>
</p>

<p>
  <strong>Title fre:</strong>
  <%= @article.title_fre %>
</p>

<p>
  <strong>Title ger:</strong>
  <%= @article.title_ger %>
</p>

<p>
  <strong>Title chi:</strong>
  <%= @article.title_chi %>
</p>

<p>
  <strong>Title ko:</strong>
  <%= @article.title_ko %>
</p>

<p>
  <strong>Body jp:</strong>
  <%= @article.body_jp %>
</p>

<p>
  <strong>Body en:</strong>
  <%= @article.body_en %>
</p>

<p>
  <strong>Body fre:</strong>
  <%= @article.body_fre %>
</p>

<p>
  <strong>Body ger:</strong>
  <%= @article.body_ger %>
</p>

<p>
  <strong>Body chi:</strong>
  <%= @article.body_chi %>
</p>

<p>
  <strong>Body ko:</strong>
  <%= @article.body_ko %>
</p>

<p>
  <strong>Url:</strong>
  <%= @article.url %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @article.genre_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @article.integer %>
</p>

<p>
  <strong>Contributor name:</strong>
  <%= @article.contributor_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @article.image %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
