<section class="breadcrumb-wrapper">
  <ul class="breadcrumb">
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"> 
      <a href="/articles" itemprop="url">
        <span itemprop="title">トップ</span>
      </a>
    </li>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"> <span itemprop="title">詳細</span> </li>
  </ul>
</section>



<div class="col-xs-9">
<h1 class="page-header"><%= @article.title %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= @article.body[0,500] %></h2>
  </div>
  <div class="panel-body">
    <p></p>
      <% @thumbnail_images.each do |thumbnail_image_url| %> 
        <img src=<%= thumbnail_image_url %> />
      <% end %>
  </div>
  <a href=<%= @article.url %> class="btn btn-primary btn-lg btn-block" role="button" target="_blank">続きを読む</a>
  <div class="panel-footer text-right"><a href="<%= @article.url %>">引用元：<%= @article.site_name %></a></div>
</div>

<div class="panel panel-default">
<% @article.tags.each do |tag| %>
<%= tag %>
<% end %>
</div>

<h2 class="page-header">関連</h2>
<p id="notice"><%= notice %></p>
<% @related_articles.each do |related_article| %>
<div class="media">
  <a href="/articles/<%= related_article['id'] %>" class="media-left"><img src=<%= related_article['thumbnail_url'] %> class="img-rounded" width="150"></a>
  <div class="media-body">
    <h3 class="media-heading"><a href="/articles/<%= related_article['id'] %>"><%= related_article['title_jp'] %></a></h3><%= related_article['body_jp'] %><%= related_article['site_name'] %>
  </div>
</div>
<% end %>
</div>

<div class="col-xs-3">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- catalog-right -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-0308249287821909"
       data-ad-slot="9115881548"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>