<section class="breadcrumb-wrapper">
  <ul class="breadcrumb">
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"> 
      <a href="/articles" itemprop="url">
        <span itemprop="title">トップ</span>
      </a>
    </li>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"> <span itemprop="title">詳細</span> </li>
  </ul>
</section>

<div class="col-xs-9">
<h1 class="page-header"><%= @article.title %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= @article.body[0,200] %></h2>
  </div>
  <div class="panel-body">
    <p></p>
      <% @thumbnail_images.each do |thumbnail_image_url| %> 
        <img src=<%= thumbnail_image_url %> width="800" onerror="this.src='https://parts.news-postseven.com/picture/2017/04/neko_fotoco1.jpg';" />
      <% end %>
  </div>
  <a href=<%= @article.url %> class="btn btn-primary btn-lg btn-block" role="button" target="_blank">続きを読む</a>
  <div class="panel-footer text-right"><a href="<%= @article.url %>">引用元：<%= @article.site_name %></a></div>
</div>

<div class="panel panel-default">
<% @article.tags.each do |tag| %>
<a href="/lists?tag=<%= tag %>">
  <span class="badge badge-pill badge-default">
    <%= tag %>
  </span>
</a>
<% end %>
</div>

<h2 class="page-header">関連</h2>
<p id="notice"><%= notice %></p>
<% @related_articles.each do |article| %>
  <div class="well">
      <div class="media">
        <a class="pull-left" href="/articles/<%= article['id'] %>">
        <img class="media-object" width=150 src=<%= article['thumbnail_url'] %> onerror=onerror="this.src='./assets/thumbnail_150.jpg';">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="/articles/<%= article['id'] %>"><%= article['title'] %></a></h4>
          <p class="text-right">By <%= article['site_name'] %></p>
          <p><%= article['body'] %></p>
          <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i> ? days, ? hours </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> 0 comments</span>
            <li>|</li>
            <li>
               <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              <span><i class="fa fa-facebook-square"></i></span>
              <span><i class="fa fa-twitter-square"></i></span>
              <span><i class="fa fa-google-plus-square"></i></span>
            </li>
      </ul>
       </div>
    </div>
  </div>
<% end %>
</div>

<div class="col-xs-3">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- catalog-right -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-0308249287821909"
       data-ad-slot="9115881548"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>


<div class="col-xs-12">




<% @comments.each do |comment| %>

<div class="container">
<div class="row">
<div class="col-sm-12">
<h3>User Comment Example</h3>
</div><!-- /col-sm-12 -->
</div><!-- /row -->
<div class="row">
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
</div>
<div class="panel-body">
Panel content
</div><!-- /panel-body -->



<% end %>

<div class="container">
<div class="row">
<div class="col-sm-12">
<h3>User Comment Example</h3>
</div><!-- /col-sm-12 -->
</div><!-- /row -->
<div class="row">
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
</div>
<div class="panel-body">
Panel content
</div><!-- /panel-body -->




</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->



<div class="container">
<div class="row">

</div><!-- /row -->
<div class="row">
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
</div>
<div class="panel-body">
Panel content
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->



</div>



 <div class="comment-add">
    <%= form_with(model: @comment, local: true) do |form| %>
      <div class="field">
        <%= form.label :comment %>
          <%= form.text_field :comment, id: :comment_comment %>
      </div>
      <div class="field">
        <%= form.label :contributor %>
          <%= form.number_field :contributor, id: :comment_contributor %>
      </div>
      <div class="field">
        <%= form.label :score %>
          <%= form.number_field :score, id: :comment_score %>
      </div>


      <%= hidden_field :comment, :article_id %>
       <%= hidden_field :comment, :article_url %>

      <div class="actions">
        <%= form.submit %>
      </div>
      <% end %>
  </div>


