<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @site.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

<p>
  <strong>Target path:</strong>
  <%= @site.target_path %>
</p>

<p>
  <strong>Category name:</strong>
  <%= @site.category_name %>
</p>


<p>
  <strong>tag1:</strong>
  <%= @site.tag1 %>
</p>

<p>
  <strong>tag2:</strong>
  <%= @site.tag2 %>
</p>
<p>
  <strong>tag3:</strong>
  <%= @site.tag3 %>
</p>
<p>
  <strong>tag4:</strong>
  <%= @site.tag4 %>
</p>
<p>
  <strong>tag5:</strong>
  <%= @site.tag5 %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
