<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta charset="utf-8">
    <meta name="viewset" content="width=device-width, initial-scale=1">

    <%# test %>
    <meta charset="UTF-8">
    <meta name="title" content="<%= title %>">
    <meta name="catlog:page_id" content="<%= current_page_id %>">
    <meta name="catlog:pv_id" content="<%= pv_id %>">
    <meta name="description" content="<%= default_description %>">
    <meta name="keywords" content="<%= meta_keywords %>">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:type" content="<%= website %>">
    <meta property="og:image" content="<%= og_image %>">
    <meta property="og:url" content="<%= og_url %>">
    <meta property="og:description" content="<%= default_og_description %>">
    <meta property="og:site_name" content="<%= title %>">
  </head>
  <body>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


 <!-- Static navbar -->
    <nav class="navbar navbar-inverse  navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src='<%= logo_image %>'></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/about">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/sign_in">LOGIN</a></li>
            <li><a href="/users/sign_out">LOGOUT</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>




    <div class="container">
      <% if flash.any? %>
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type %>"><%= message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>

<%= render :partial => "footer" %>